@media (max-width: 1320px) {
    .home {
        padding: 6% 8%;
    }
}

@media (max-width: 1080px) {
    .home {
        padding: 6% 3%;
    }
}

@media (max-width: 960px) {
    .home .home_description {
        text-align: center;
    }

    .home .home_description .myName {
        font-size: 2.5rem;
    }  

    .home .home_description h2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 830px) {
    .home .home_description .myName {
        font-size: 2rem;
    }

    .home .home_description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

    .home .home_description h2 {
        width: 90vw;
    }

    .home .home_description .social_link {
        margin-left: 0;
        width: 100vw;
        gap: 8px;
        justify-content: center;
    }

    .home .home_description .social_link a {
        margin: 0;
        font-size: 14px;
    }

    .home .home_img {
        display: none;
    }
}

@media (max-width: 320px) {
    .home .home_description h1 {
        font-size: 1.2rem;
    }

    .home .home_description .myName {
        font-size: 1.8rem;
    }

    .home .home_description h2 {
        font-size: 1rem;
    }

    .home .home_description .social_link a {
        font-size: 13px;
        padding: 12px 15px;
    }
}